body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:rgb(12, 203, 44);
}
footer p {
    color: aquamarine;
}
main p {
    color: rgb(242, 32, 214);
}
#celestial {
    color:rgb(46, 17, 213);
}
.crimson{
    color:rgb(20, 193, 220)
}

.bigger {
    font-size: 15pt;

}

.flashier {
    color: rgb(17, 89, 222);
    font-size: 14pt;
}

.highlight {
    font-style: italic;

}

.flashier {
    color: cornflowerblue;
    font-size: 14pt;

}

.highlight {
    font-style: italic;
}

.standout {
    font-weight: 800;
    
}