body {
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    border: thin solid #000;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 3px rgba(50,50,50,0.8);
    width: 150px;
}
.row {
    display: flex;
}   flex-flow: row wrap;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    justify-content: space-eventualy;