body {
    font-family: Arial, Helvetica, sans-serif;
}
.parent {
    display: grid;
    grid-template-columns:2fr 5fr 1fr;
    gap: 10px;
}
.child {
    background-color: cadetblue;

}
#wrapper {
    display: grid;
    grid-template-areas:
    "top top top"
    "1side middle rside"
    "bottom bottom bottom";
}
header {
    grid-area: top;

}
nav {
    grid-area: 1side;
}
main {
    grid-area: middle;
}
footer {
    grid-area: bottom;
}