body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #200ba9;
    color: white;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: rgb(231, 220, 220);
    text-decoration: none;
    padding: 5px 10px;
}

nav a.active {
    text-decoration: underline;
}
main {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #7dcd14;
    padding: 10px;
    text-align: left;
}
footer {
    background-color: #41da26;
    color: white;
    padding: 10px;
    text-align: center;
}
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        background-color: #e721a5;
        margin-bottom: 5px;
    }
}
