body {
  font-family: Arial, sans-serif;
  background: #dc18bf;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}

.container {
  background: rgb(11, 215, 21);
  padding: 30px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-weight: bold;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ef3838;
  border-radius: 5px;
  outline: none;
}

input.error {
  border-color: rgb(21, 199, 36);
  background-color: #ffe5e5;
}

button {
  padding: 12px;
  background: #0066ff;
  color: rgb(234, 15, 15);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #004bcc;
}

#responseMessage {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: green;
}
.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #00aa66;
  color: rgb(136, 216, 16);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s;
}
.popup.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}
