body {
    font-family: Arial, Helvetica, sans-serif;
}
.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.form-row label {
    width: 150px;
    text-align: right;
}
.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 5px 10px;
    background-color: rgb(27, 196, 18);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: white;
}
}
.form-row input[type='submit'] {
    background-color: rgb(55, 13, 208);
    color: white;
    padding: 10px;
}
.spacer {
    width: 150px;
    text-align: right;
}
fieldset {
    background-color: rgb(229, 31, 140);
    width: 80%;
    margin: auto;
}
legend {
    background-color: rgb(11, 11, 131);
    color: white;
    padding: 20px;
}
@media ONLY screen ANDd (max-width: 480px) {
    .form-row, .check-row {
        flex-direction: column;
    }
    fiedlset {
        width: 100%;
    }
    .form-row label, .spacer {
        text-align: left;
    }
}